*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1rem;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  -webkit-appearance: none;
  appearance: none;

  &:not(:disabled) {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

input {
  &:not([type="checkbox"], [type="radio"], [type="color"], [type="file"], [type="range"], [type="submit"]) {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

picture {
  display: block;
}

